@import "tailwindcss"; 

#navbar-cintainer {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
}
#nav-Left {
  /* border: 2px solid red; */
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
#nav-right {
  /* border: 2px solid green; */
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  color: red;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  color: white;
  text-decoration: underline;
}
#nav-Left span {
  color: red;
  font-weight: 700;
}
#addToCart-btn {
  color: red;
}
